@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");



@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}

@mixin button-style {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);  
}


$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;
    
}

* a {
    text-decoration: none;
    color: white;
}

.main {
    margin: 0;
    padding: 0;
    @include flexbox-center;
    flex-direction: column;
}

.spinner {
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 20;
    animation: spinner 2s linear ;
    visibility: hidden;
    &__border {
        @include flexbox-center;
        border: 10px solid transparent;
        border-top: 10px solid $color-primary;
        border-bottom: 10px solid $color-secondary;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        animation: spinner-border 2s linear ;
        z-index: 10;
        visibility: hidden;
    }
    &__center {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color-tertiary;
    
    }
}

.header {
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    position: relative;
    @include flexbox-center();
    height: 80px;
    width: 100%;
    &__logo {
        font-family: 'Shrikhand', cursive;
        margin: 0;
        color: black;
    }
}

.location {
    @include flexbox-center();
    background: #f3f3f3;
    color: #7a7a7a;

    &__city {
        margin-left: 13px;
        font-weight: 400;
    }
}   


.intro {
    background: #fafafa;
    width: 100%;
    &__container {
        width: 100%;
        padding: 20px;
        @include flexbox-center();
        flex-direction: column;
        padding: 50px 0;
    }
    &__title {
        text-align: center;
        max-width: 250px;
        margin: 0;
    }
    &__subtitle {
        text-align: center;
    }
    &__button {
        @include button-style;
        &:hover {
            @include button-hover;
        }
    }
}

.functioning__container {
    padding: 25px 0;
    width: 100%;
    background: white;
    @include flexbox-center;
    flex-direction: column;
}
.functioning {
    width: 95%;
    max-width: 1200px;
    background-color: white;
    padding: 0 ;   
    display: flex;
    flex-direction: column ;
    &__title {
        margin: 0;
    }
    &__choice {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        height: auto;
        width: auto;
        margin: 10px 20px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
        &:hover {
            @include button-hover;
            background: lighten(#f7f7f7, 3%);
        }
    }
        &__number {
                background-color: $color-primary;
                color: white;
                position: absolute;
                padding: 3px 8px 3px 8px;
                border-radius: 500px;
                transform: translateX(-50%);
            }
        &__icon {
            color: #7E7E7E;
            margin: 0 20px;
        }
    &__choices {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.restaurants {
    margin: 20px;
    background: #f6f6f6;
    @include flexbox-center;
    flex-direction: column;
    align-items: flex-start;
}

.restaurants__title {
    font-weight: bold;
    font-size: 1.4rem; 
  }

.restaurant {
    &__cards {
        width: 100%;
       
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        border-radius: 20px;
        transform: scale(1.0);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        margin-bottom: 18px;
        &-new {
            @include flexbox-center;;
            position: absolute;
            background: #99e2d0;
            top: 20px; right: 20px;
            & p {
                color: #1b6150;
                padding: 8px 10px;
                margin: 0;
            }
        }
        &:hover {
            transition: .5s;
            transform: scale(1.02);
            box-shadow: 0px 0px 10px 2px rgba(147, 86, 220,0.6);
        }
        &-image {
            width: 100%;
            height: 190px;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }
        }
    }
    &__info {
        color:black;
        padding-right: 15px;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        border-radius: 0 0 20px 20px;
        &-description {
            color: black;
            margin-left: 20px;
            & > :first-child {
                font-weight: 900;
            }
        }     
        & .like {
            &--full {
              position: absolute;
              left: 0rem;
              background: linear-gradient(170deg, $color-secondary, $color-primary);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              -webkit-text-stroke: 1px black;
              transition: transform 500ms ease;
              transform: scale(0);
              z-index: -1;
            }
          
            &--empty {
              font-size: 2.3rem;
              position: relative;
              transition: color 500ms ease;
              z-index: 2;
              &:hover .like--full {
                cursor: pointer;
                transition: transform 500ms ease;
                transform: scale(1);
                
              }
        }
     }
    
    }

}

.footer {
    width: 100%;
    background-color: #353535;
    @include flexbox-center;
    &__container {
        display: inline;
        padding: 0 20px;
        width: 100%;
        max-width: 1200px;
        & .logo-footer {
            font-family: 'Shrikhand', cursive;
            color: white;
            font-size: 20px;
            padding: 15px 0;
        }
        &-links {
            margin-bottom: 0.8rem;
            display: inline-flex;
            flex-direction: column;
            width: auto;
        }
        &-link {
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            text-align: center;
            color: white;
            height: 30px;
            cursor: pointer;
            &:hover .footer__container-link__title {
                text-decoration: underline;
            }
            & i {
             margin-right: 7px;
            }
            &__title {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}


// Animation du loader //

@keyframes spinner {
    0% {
        visibility: visible;
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spinner-border {
    0% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (min-width: 768px) {
    .restaurant {
        &__cards {
            display: grid;
            grid-template-rows: 100% 100% ;
            grid-template-columns: 48% 48%;
            grid-gap: 40px;
            justify-items: stretch;
        }
    }
    .functioning__choice {
        width: 100%;
    }
    .functioning__choices {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

    .footer {
        &__container {
            margin-bottom: 15px;
            text-align: center;
            }
            &__container-links {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                max-width: 900px;
            }

    }
    
}

