.header {
    &_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0 20px 0;
      &_text {
        font-family: $title-font;
        font-size: 35px;

      }
    }
  }
  /* responsive tablette*/
  @media screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
    .header_logo {
      height: 5rem;
      &_text {
        display: flex;
        align-items: center;
        font-size: 2rem;
      }
    }
  }
  /* responsive desktop*/
  @media screen and (min-width: $tablet-breakpoint) {
    .header_block_logo {
      height: 5rem;
      &_text {
        display: flex;
        align-items: center;
        font-size: 2rem;
      }
    }
  }